 /*@import url('https://fonts.googleapis.com/css?family=Bungee');*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}
body{
    background-color: rgb(250,250,250);
    overflow-y: hidden;
}
.all_fold-ups{
    display: inline-block;
    position: relative;
    float: left;
    transition: 0.3s;
    overflow: hidden;
    font-size: 13pt;
    height: 100%;
    width: 50px;
    box-shadow: 10px 0px 35px rgba(0,0,0,0.35);
    top: 6vh;
}
.chosen_path{
    height: 85vh;
    transition: 0.3s;
}
#cat--1, #cat-0, #cat-1{
    height: 94vh;
}
.fis_path .all_fold-ups{
    width: 100px;
}
.rejected_path{
    height: 9vh;
    transition: 0.3s;
}
.all_cats{
}
.cat_title{
    height: 55px;
}
.action_new{
    background-color: #2ed12e;
    float: inline-start;
    margin-top: 11px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.action_back{
    background-color: #74a9ff;
    float: inline-start;
    margin-top: 11px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.action_update{
    background-color: skyblue;
}
.action_delete{
    background-color: darksalmon;
}
button[class*="list"]{
    background-color: beige;
    transition: 0.2s;
}
button[class*="list"]:hover{
    background-color: burlywood;
}
button{
    padding: 10px 15px 7px 15px;
    cursor: pointer;
    font-weight: 800;
    font-size: 12pt;
    border: none;
}
.cat_unit button{
    margin-top: 20px;
}
.cat_unit .action_list_cat, .cat_unit .action_list_fis, .cat_unit .action_list{
    margin-top: 0px;
    padding-top: 26px;
    font-size: 20px;
    padding-bottom: 24px;
    padding-left: 20px;
}
.cat_unit .action_list_fis{
    background-color: darkorange;
    color: white;
}
.cat_unit .action_list_fis:hover{
    background-color: crimson;
}
.open, .fis_path .open{
    width: 750px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.cat_content{
    margin-left: 50px;
    margin-top: 20px;
}
.cat_content:last-child{
    padding-bottom: 20px;
}
.closed .cat_content{
    display: none;
}
h1{
    margin-right: 20px;
    display: inline-block;
    font-family: 'Bungee';
    font-size: 35pt;
    float: left;
}
.cat_unit{
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 0px;
    padding-bottom: 30px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
.cat_unit li:first-child{
    height: 72px;
}
#cat--1 .cat_unit li:first-child, #cat-0 .cat_unit li:first-child{
    padding-top: 20px;
    height: auto;
}
li h2{
    font-size: 25pt;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}
li h2 + span{
    float: right;
}
ul li span:first-child{
    margin-left: 50px;
}
span + span{
    font-weight: 800;
}
.shut{
    max-height: 70px;
    cursor: pointer;
    margin-left: 0px;
    animation: shut-unit 0.3s linear 0s 1;
}
.telling{
    animation: tell-unit 0.3s linear 0s 1;
}
@keyframes tell-unit{
    0%{
        max-height: 70px;
    }
    100%{
        max-height: 228px;
    }
}
@keyframes shut-unit{
    0%{
        max-height: 228px;
    }
    100%{
        max-height: 70px;
    }
}
.menu{
    padding-left: 15px;
    color: black;
    overflow: hidden;
    transition: 0.4s;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    animation: slide 0.4s linear 0s 1;
}
.menu_delete{
    background-color: darksalmon;    
}
.menu_update{
    background-color: skyblue;
}
.menu_new{
    background-color: #2ed12e;
    margin-top: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
.menu .titel{
    margin-bottom: 10px;
    margin-top: 15px;
    display: block;
}
.menu div{
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;
}
.menu button{
    margin-top: 15px;
    display: block;
}
@keyframes slide{
    0%{
        height: 0px;
    }
    100%{
        height: 150px;
    }
}
.ask{
    height: 150px;
}
.responseMessage{
    float: right;
    margin-top: -25px;
    padding-right: 55px;
}
.open .closed_cat_title{
    display: none;
}
.closed .closed_cat_title{
    display: block;
    transform: rotate(90deg);
    transform-origin: 0% top;
    margin-left: 50px;
    margin-top: 27px;
    font-size: 30pt;
}
li{
    font-size: 1.3em;
    line-height: 1.4em;
}
#cat--1 ul :last-child{
    padding-bottom: 20px;
}
#cat--1 li{
    line-height: 1.1em;
    font-size: 1.8em;
}
#cat--1 li li{
    line-height: 1.2em;
    font-size: 0.8em;
    padding-left: 30px;
}
#cat--1 li li li{
    line-height: 1.3em;
    font-size: 0.7em;
    padding-left: 60px;
}
#breadcrums{
    position: fixed;
    width: 100vw;
    height: 55px;
    z-index: 100;
    overflow-y: scroll;
    
    padding-top: 5px;
    padding-left: 20px;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.3);
}
#breadcrums div{
    display: inline-block;
    font-family: 'Bungee';
    font-size: 2em;
    cursor: pointer;
    transition: 0.3s;
}
.background{
    position: absolute;
    top: 80px;
    right: 0px;
    width: 320px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 2em;
    background-color: rgb(180,180,180);
    color: rgb(100,100,100);
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
    transition-delay: 0.4s;
}
.background:hover{
    opacity: 1;
    background-color: rgb(210,210,210);
}
.keyboard-style{
    display: inline-block;
    border: solid 3px rgb(100,100,100);
    background-color: rgb(180,180,180);
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25%;
    transition: 0.5s;
}
.keyboard-style-esc{
    width: 70px;
    border-radius: 20%;
}
.keyboard-style-enter{
    width: 95px;
    border-radius: 15%;
}
.keyboard-style-normal{
    float: left;
    display: block;
}
.background .legend{
    border: none;
    display: block;
    padding-bottom: 20px;
    font-size: 12pt;
    line-height: 1.5em;
    text-align: left;
    float: left;
    margin-right: 45%;
}
select{
    height: 22px;
}
#unfinished_unit{
    opacity: 0.7;
    transition: 1s;
    animation: appearence_of_unf_unit 1s linear 0s 1;
    box-shadow: 0px 0px 0px black;
    padding-bottom: 30px;
}
@keyframes appearence_of_unf_unit{
    0%{
        padding-bottom: 0px;
        max-height: 0px;
    }
    40%{        
        padding-bottom: 0px;
        max-height: 0px;
    }
    100%{
        padding-bottom: 30px;
        max-height: 200px;
    }
}
#response_popup{
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    padding-top: 40vh;
    font-size: 3em;
    font-weight: 800;
    height: 100vh;
    right: 0px;
    bottom: 0px;
    width: 0vw;
    position: fixed;
    z-index: 90;
    border-left: solid 8px rgb(255, 204, 90);
    transition: 0.5s;
}
.empty_response{
    font-size: 1.5em;
    margin-top: 50px;
    padding-left: 50px;
}