*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.row div{
    border: solid 2px black;
    
}
.head {
	height: 35px;
}
.project {
	height: 300px;
}
.table {
	height: 300px
}